@model Layout 
<footer>
        <div class="container">
            <div class="row">
                <div class="col-12 footer-nav">
                    <div>
                        <h6>CUSTOMER SERVICES</h6>
                        <ul>
                            <li><a href="">Help & Contact Us</a></li>
                            <li><a href="">Returns & Refunds</a></li>
                            <li><a href="">Online Stores</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div>
                        <h6>COMPANY</h6>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Order Tracking</a></li>
                            <li><a href="">FAQ Page</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Login</a></li>
                        </ul>
                    </div>

                    <div>
                        <h6>SOCIAL MEDIA</h6>
                        <ul>
                            <li><a href="">Twitter</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Tumbir</a></li>
                            <li><a href="">Pinterest</a></li>
                        </ul>
                    </div>

                    <div>
                        <h6>ARCHIVE</h6>
                        <ul>
                            <li><a href="">Designer Shoes</a></li>
                            <li><a href="">Gallery</a></li>
                            <li><a href="">Pricing</a></li>
                            <li><a href="">Feature Index</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">Help & Support</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 footer-mark">
                    <div class="row">
                        <div class="text-widget col-lg-4 col-12">
                            <p>
                                © 2018 <a href="">Qode Interactive,</a> All Rights Reserved
                            </p>
                        </div>
                        <div class="col-lg-4 d-flex col-12 justify-content-center">
                            <img src="~/assets/images/footer-bottom-1.png" alt="" />
                        </div>
                        <div class="col-lg-4 col-12 d-flex justify-content-end socialNet">
                            <a style="color: #afafaf" class="mx-1" href="@Model.InstagramUrl">INSTAGRAM</a>
                            <a style="color: #afafaf" class="mx-1" href="@Model.FacebookUrl">FACEBOOK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
